table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

col.columbia {
    background-color: #853535;
}

th:nth-child(2) {
    background-color: #a17256;
}

.error {
    color: red;
    border: 1px solid black;
    margin-top: 5px;
}